[Unit]
Description=Living Room Arduino
After=network.target

[Service]
User=pi
ExecStart=/mnt/usb/wk/Arduino_wk/livingRoom_ard/hostscripts/py/bin/python /mnt/usb/wk/Arduino_wk/livingRoom_ard/hostscripts/run.py > /dev/null 2>&1

[Install]
WantedBy=multi-user.target
